<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>Arca</string>
    <key>CFBundleIdentifier</key>
    <string>com.arca.bundlecreator</string>
    <key>CFBundleName</key>
    <string>Arca</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>LSMinimumSystemVersion</key>
    <string>12.0</string>
    <key>NSDesktopFolderUsageDescription</key>
    <string>Arca needs access to your Desktop to save the finished Mac apps.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>Arca needs access to your Downloads folder to read APKs and run the wrapper script.</string>
</dict>
</plist>
